*.classpath
ws-axis2-client/.project
ws-axis2-client/.settings/org.eclipse.jdt.core.prefs
ws-axis2-client/bin/META-INF/NotaFiscalWS.wsdl
ws-axis2-client/bin/XmlSchema-1.4.7.jar
ws-axis2-client/bin/activation-1.1.jar
ws-axis2-client/bin/antlr-2.7.7.jar
ws-axis2-client/bin/apache-mime4j-core-0.7.2.jar
ws-axis2-client/bin/axiom-api-1.2.13.jar
ws-axis2-client/bin/axiom-dom-1.2.13.jar
ws-axis2-client/bin/axiom-impl-1.2.13.jar
ws-axis2-client/bin/axis2-adb-1.6.2.jar
ws-axis2-client/bin/axis2-adb-codegen-1.6.2.jar
ws-axis2-client/bin/axis2-ant-plugin-1.6.2.jar
ws-axis2-client/bin/axis2-clustering-1.6.2.jar
ws-axis2-client/bin/axis2-codegen-1.6.2.jar
ws-axis2-client/bin/axis2-corba-1.6.2.jar
ws-axis2-client/bin/axis2-fastinfoset-1.6.2.jar
ws-axis2-client/bin/axis2-java2wsdl-1.6.2.jar
ws-axis2-client/bin/axis2-jaxbri-1.6.2.jar
ws-axis2-client/bin/axis2-jaxws-1.6.2.jar
ws-axis2-client/bin/axis2-jibx-1.6.2.jar
ws-axis2-client/bin/axis2-json-1.6.2.jar
ws-axis2-client/bin/axis2-kernel-1.6.2.jar
ws-axis2-client/bin/axis2-metadata-1.6.2.jar
ws-axis2-client/bin/axis2-mtompolicy-1.6.2.jar
ws-axis2-client/bin/axis2-saaj-1.6.2.jar
ws-axis2-client/bin/axis2-soapmonitor-servlet-1.6.2.jar
ws-axis2-client/bin/axis2-spring-1.6.2.jar
ws-axis2-client/bin/axis2-transport-http-1.6.2.jar
ws-axis2-client/bin/axis2-transport-local-1.6.2.jar
ws-axis2-client/bin/axis2-xmlbeans-1.6.2.jar
ws-axis2-client/bin/bcel-5.1.jar
ws-axis2-client/bin/br/com/oobj/axis2/NotaFiscal.class
ws-axis2-client/bin/br/com/oobj/axis2/NotaFiscalClient.class
ws-axis2-client/bin/br/com/oobj/axis2/stub/NotaFiscalWSStub$ConsomeXML$Factory.class
ws-axis2-client/bin/br/com/oobj/axis2/stub/NotaFiscalWSStub$ConsomeXML.class
ws-axis2-client/bin/br/com/oobj/axis2/stub/NotaFiscalWSStub$ConsomeXMLResponse$Factory.class
ws-axis2-client/bin/br/com/oobj/axis2/stub/NotaFiscalWSStub$ConsomeXMLResponse.class
ws-axis2-client/bin/br/com/oobj/axis2/stub/NotaFiscalWSStub$ExtensionMapper.class
ws-axis2-client/bin/br/com/oobj/axis2/stub/NotaFiscalWSStub$ImprimirNotaDaEmpresa$Factory.class
ws-axis2-client/bin/br/com/oobj/axis2/stub/NotaFiscalWSStub$ImprimirNotaDaEmpresa.class
ws-axis2-client/bin/br/com/oobj/axis2/stub/NotaFiscalWSStub$ImprimirNotaDaEmpresaResponse$Factory.class
ws-axis2-client/bin/br/com/oobj/axis2/stub/NotaFiscalWSStub$ImprimirNotaDaEmpresaResponse.class
ws-axis2-client/bin/br/com/oobj/axis2/stub/NotaFiscalWSStub.class
ws-axis2-client/bin/commons-cli-1.2.jar
ws-axis2-client/bin/commons-codec-1.3.jar
ws-axis2-client/bin/commons-fileupload-1.2.jar
ws-axis2-client/bin/commons-httpclient-3.1.jar
ws-axis2-client/bin/commons-io-1.4.jar
ws-axis2-client/bin/commons-logging-1.1.1.jar
ws-axis2-client/bin/endorsed/geronimo-jaxws_2.2_spec-1.0.jar
ws-axis2-client/bin/endorsed/geronimo-saaj_1.3_spec-1.0.1.jar
ws-axis2-client/bin/endorsed/jaxb-api-2.1.jar
ws-axis2-client/bin/geronimo-annotation_1.0_spec-1.1.jar
ws-axis2-client/bin/geronimo-jaxws_2.2_spec-1.0.jar
ws-axis2-client/bin/geronimo-jta_1.1_spec-1.1.jar
ws-axis2-client/bin/geronimo-saaj_1.3_spec-1.0.1.jar
ws-axis2-client/bin/geronimo-stax-api_1.0_spec-1.0.1.jar
ws-axis2-client/bin/geronimo-ws-metadata_2.0_spec-1.1.2.jar
ws-axis2-client/bin/httpcore-4.0.jar
ws-axis2-client/bin/jalopy-1.5rc3.jar
ws-axis2-client/bin/jaxb-api-2.1.jar
ws-axis2-client/bin/jaxb-impl-2.1.7.jar
ws-axis2-client/bin/jaxb-xjc-2.1.7.jar
ws-axis2-client/bin/jaxen-1.1.1.jar
ws-axis2-client/bin/jaxws-tools-2.1.3.jar
ws-axis2-client/bin/jettison-1.0-RC2.jar
ws-axis2-client/bin/jibx-bind-1.2.jar
ws-axis2-client/bin/jibx-run-1.2.jar
ws-axis2-client/bin/jsr311-api-1.0.jar
ws-axis2-client/bin/juli-6.0.16.jar
ws-axis2-client/bin/log4j-1.2.15.jar
ws-axis2-client/bin/mail-1.4.jar
ws-axis2-client/bin/mex-1.6.2-impl.jar
ws-axis2-client/bin/neethi-3.0.2.jar
ws-axis2-client/bin/regexp-1.2.jar
ws-axis2-client/bin/tribes-6.0.16.jar
ws-axis2-client/bin/woden-api-1.0M9.jar
ws-axis2-client/bin/woden-impl-commons-1.0M9.jar
ws-axis2-client/bin/woden-impl-dom-1.0M9.jar
ws-axis2-client/bin/wsdl4j-1.6.2.jar
ws-axis2-client/bin/wstx-asl-3.2.9.jar
ws-axis2-client/bin/xalan-2.7.0.jar
ws-axis2-client/bin/xml-resolver-1.2.jar
ws-axis2-client/bin/xmlbeans-2.3.0.jar
ws-axis2-client/bin/xstream-1.4.7.jar
ws-axis2-client/build/classes/br/com/oobj/axis2/NotaFiscal.class
ws-axis2-client/build/classes/br/com/oobj/axis2/NotaFiscalClient.class
ws-axis2-client/build/classes/br/com/oobj/axis2/stub/NotaFiscalWSStub$ConsomeXML$Factory.class
ws-axis2-client/build/classes/br/com/oobj/axis2/stub/NotaFiscalWSStub$ConsomeXML.class
ws-axis2-client/build/classes/br/com/oobj/axis2/stub/NotaFiscalWSStub$ConsomeXMLResponse$Factory.class
ws-axis2-client/build/classes/br/com/oobj/axis2/stub/NotaFiscalWSStub$ConsomeXMLResponse.class
ws-axis2-client/build/classes/br/com/oobj/axis2/stub/NotaFiscalWSStub$ExtensionMapper.class
ws-axis2-client/build/classes/br/com/oobj/axis2/stub/NotaFiscalWSStub$ImprimirNotaDaEmpresa$Factory.class
ws-axis2-client/build/classes/br/com/oobj/axis2/stub/NotaFiscalWSStub$ImprimirNotaDaEmpresa.class
ws-axis2-client/build/classes/br/com/oobj/axis2/stub/NotaFiscalWSStub$ImprimirNotaDaEmpresaResponse$Factory.class
ws-axis2-client/build/classes/br/com/oobj/axis2/stub/NotaFiscalWSStub$ImprimirNotaDaEmpresaResponse.class
ws-axis2-client/build/classes/br/com/oobj/axis2/stub/NotaFiscalWSStub.class
ws-axis2-client/build/lib/NotaFiscalWS-test-client.jar
ws-axis2-server/.project
ws-axis2-server/.settings/org.eclipse.jdt.core.prefs
ws-axis2-server/bin/br/com/oobj/axis2/NotaFiscalWS.class
ws-axis2-server/build/NotaFiscalWS.aar
ws-axis2-server/build/NotaFiscalWS.wsdl
ws-axis2-server/build/classes/META-INF/services.xml
ws-axis2-server/build/classes/br/com/oobj/axis2/NotaFiscal.class
ws-axis2-server/build/classes/br/com/oobj/axis2/NotaFiscalWS.class
ws-axis2-server/bin/META-INF/services.xml
ws-axis2-server/bin/br/com/oobj/axis2/NotaFiscal.class
ws-axis2-server/bin/lib/xstream-1.4.7.jar
